{% extends "base.html" %}

{% block title %}
	All My Posts
{% endblock %}

{% block css_files %}
{% endblock %}


{% block content %}
{% include "blog/includes/header.html" %}

<section id="all-posts">
  <h2>My Collected Posts</h2>

<ul>
<li>
  <article class="post">
    <a href="">
      <img src="" alt="Mountain Hiking"
      />
      <div class="post__content">
        <h3>Mountain Hiking</h3>
        <p>
          There&#x27;s nothing like the views you get when hiking in the mountains! And I wasn&#x27;t even prepared for what happened whilst I was enjoying the view!
        </p>
      </div>
    </a>
  </article>
</li>
</ul>
</section>


{% endblock %}







