{% extends "base.html" %}

{% block title %}
	Programming Is Great!
{% endblock %}

{% block css_files %}
{% endblock %}


{% block content %}
    {% include "blog/includes/header.html" %}

<section id="summary">
  <h2>Programming Is Great!</h2>
  <article>
    <img src="" alt="Programming Is Great!" />
    <address>By Mohammad Amin</address>
    <div>Last updated on <time>10 Mar 2022</time></div>
  </article>
</section>

<main>
  <p><br>   Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis nobis<br>          aperiam est praesentium, quos iste consequuntur omnis exercitationem quam<br>          velit labore vero culpa ad mollitia? Quis architecto ipsam nemo. Odio.</p>

<p>          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis nobis<br>          aperiam est praesentium, quos iste consequuntur omnis exercitationem quam<br>          velit labore vero culpa ad mollitia? Quis architecto ipsam nemo. Odio.</p>

<p>          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis nobis<br>          aperiam est praesentium, quos iste consequuntur omnis exercitationem quam<br>          velit labore vero culpa ad mollitia? Quis architecto ipsam nemo. Odio.<br>        </p>
</main>

{% endblock %}
